<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="diving.css">
  <link rel="stylesheet" href="responsive.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="header.js" defer></script>
  <script src="diving.js" defer></script>
  <title>Tanaka Yoshie | diving</title>
</head>

<body>

  <%- include('header'); %>
  
  <div id = "title">
        <h1>DIVING MEMORY</h1>
  </div>

  <article class="divingcontents">
      <ul class="contents">
          <li class="animationTarget">
              <img src="img0.jpg" alt="小笠原諸島">
              <div class="contentsText">
                  <h2>First solo trip</h2>
                  <p>初めていった一人旅、世界自然遺産  ”東京都小笠原村”。
                      竹芝桟橋から船で24時間。道端から見えるシロワニ（サメ）、船を囲むたくさんのイルカたち。
                      大自然を感じ、たくさんの感動を味わい、海の虜になりました。</p>
              </div>
          </li>

          <li class="animationTarget">
            <img src="img5.jpg" alt="skin diving">
            <div class="contentsText">
                <h2>Skin diving debut</h2>
                <p>自分の息だけで潜るスキンダイビング。海と一体になれるような気持ちよさを味わえます。
                  フリーダイビングもやりたくて頑張ってます。
                </p>                
            </div>
        </li>

          <li class="animationTarget">
              <img src="img2.jpg" alt="scuba diving"> 
              <div class="contentsText">
                  <h2>Scuba diving debut</h2>
                  <p>沖縄県の離島、慶良間諸島でダイビングのライセンス（Cカード）を取得。
                    海の中をゆったり散歩できるのは、スキューバーダイビングならでは。
                    この日はたくさんの魚たちが顔にまとわりついてきて、モテモテでした。
                  </p>            
              </div>
          </li>

          <li class="animationTarget">
              <img src="img6.jpg" alt="亀とダイビング"> 
              <div class="contentsText">
                  <h2>Walk with a turtle</h2>
                  <p>この日は運が良く、亀さんが一緒に散歩してくれました。とってもいい思い出です。亀は遅いなんていうけど、海の中じゃかなり早いです。
                  </p>            
              </div>
          </li>

          <li class="animationTarget">
            <img src="img1.jpg" alt="渡嘉敷島"> 
            <div class="contentsText">
                <h2>Traveled island</h2>
                <p>行ったことある島は、小笠原諸島 / 宮古島 / 石垣島 / 慶良間諸島 / バリ島。どこも美しい島ばかりでした。<br>
                  今狙っている島は、御蔵島でドルフィンスイム / 与論島 / 屋久島 です。
                </p>            
            </div>
        </li>
      </ul>
  </article>

  <%- include('footer'); %>

</body>
</html>