<header>
    <!-- <div id="header"> -->
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <nav class="globalMenuSp">
            <ul>
                <li><a href = "/top">TOP</a></li>
                <li><a href = "/diving">DIVING</a></li>
                <li><a href = "/inquery">CONTACT</a></li>
            </ul>
        </nav>
        
        <nav class="header-list">
            <ul>
                <li><a href = "/top">TOP</a></li>
                <li><a href = "/diving">DIVING</a></li>
                <li><a href = "/inquery">CONTACT</a></li>
            </ul>
        </nav>
    <!-- </div> -->
</header>
