
<article class="content">
    <div id="modal01" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <div class="modal__title">
                <a href="http://www.tanamoru.com"><h4>PORTFOLIO</h4></a>
            </div>
            <div class="model-about">
                <h5 >ABOUT</h5>
                <p>このサイトです。<br>地元、青森の冬の夜をイメージして、全体的に雪を感じられる雰囲気にしました。</p>
            </div>
            <div class="model-tools">
                <h5>TOOLS</h5>
                <p><i class="fa fa-check-square-o "></i> HTML5/CSS3
                    <br><i class="fa fa-check-square-o "></i> Javascript/jQuery
                    <br><i class="fa fa-check-square-o "></i> Node.js
                    <br><i class="fa fa-check-square-o "></i> Photoshop
                </p>
            </div>
            <div class="image">
                <img src="portfolio.png" alt="ポートフォリオのメインページ">
                <img src="p2.png" alt="ポートフォリオのページ">
                <img src="p3.png" alt="ポートフォリオのページ">
                <img src="p4.png" alt="ポートフォリオのページ">
                <img src="p5.png" alt="ポートフォリオのページ">
                <img src="p6.png" alt="ポートフォリオのページ">
            </div>
            <a class="js-modal-close close-butttom" href="">✖️</a>
        </div>
    </div>

    <div id="modal02" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <div class="modal__title">
                <a href="https://frozen-depths-80584.herokuapp.com/"><h4>HAPPY WORDS</h4></a>
            </div>
            <div class="model-about">
                <h5 >ABOUT</h5>
                <p>「超訳ニーチェの言葉」より引用。<br>ニーチェが残したポジティブな言葉たちが好きで、勇気づけられたり、人生が豊かになるようなコンテンツを作りたいと思い、作成しました</p>
            </div>
            <div class="model-tools">
                <h5>TOOLS</h5>
                <p><i class="fa fa-check-square-o "></i> HTML5/CSS3
                    <br><i class="fa fa-check-square-o "></i> Javascript/jQuery
                    <br><i class="fa fa-check-square-o "></i> Node.js
                    <br><i class="fa fa-check-square-o "></i> MySQL
                </p>
            </div>
            <div class="image">
                <img src="word1.png" alt="ニーチェトップページ">
                <img src="word2.png" alt="ニーチェコンテンツページ">
                <img src="word3.png" alt="ニーチェコンテンツページ">
                <img src="word4.png" alt="ニーチェコンテンツページ">
                <img src="word5.png" alt="ニーチェコンテンツページ">
                <img src="word5.png" alt="ニーチェコンテンツページ">
            </div>
            <a class="js-modal-close close-butttom" href="">✖️</a>
        </div>
    </div>

    <div id="modal03" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <div class="modal__title">
                <a href="#"><h4>求人ページ メインパネル作成</h4></a>
            </div>
            <div class="model-about">
                <h5 >ABOUT</h5>
                <p>前職の求人ページのメインパネルを作成。水産物を中心とした加工冷凍食品、冷凍魚介類、鮮魚介類を取り扱う企業様で、「食を通しておいしさという幸せ・笑顔を提供する」というビジョンをメインパネルで表現しました。応募があり、無事採用が決まったようです。</p>
            </div>
            <div class="model-tools">
                <h5>TOOLS</h5>
                <p>
                    <i class="fa fa-check-square-o "></i> Photoshop
                </p>
            </div>
            <div class="image">
                <img src="求人ページ.jpg" alt="求人ページメインパネル">
            </div>
            <a class="js-modal-close close-butttom" href="">✖️</a>
        </div>
    </div>

    <div id="modal04" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <div class="modal__title">
                <a href="#"><h4>Coming soon</h4></a>
            </div>
            <div class="model-about">
                <h5 >ABOUT</h5>
                <p>Coming soon</p>
            </div>
            <div class="model-tools">
                <h5>TOOLS</h5>
                <p><i class="fa fa-check-square-o "></i>
                    <br><i class="fa fa-check-square-o "></i>
                    <br><i class="fa fa-check-square-o "></i>
                    <br><i class="fa fa-check-square-o "></i>
                </p>
            </div>
            <div class="image">
                <img src="comingsoon.jpg" alt="comingsoon">
                <img src="comingsoon.jpg" alt="comingsoon">
                <img src="comingsoon.jpg" alt="comingsoon">
                <img src="comingsoon.jpg" alt="comingsoon">
                <img src="comingsoon.jpg" alt="comingsoon">
                <img src="comingsoon.jpg" alt="comingsoon">
            </div>
            <a class="js-modal-close close-butttom" href="">✖️</a>
        </div>
    </div>
</article>