<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お問い合わせ-完了</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="confirm.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="responsive.css">
    <script src="header.js" defer></script>
</head>

<body>

  <%- include('header'); %>

  <div class="result-container">
    <div class="contact-form">
      <h3 class = "section-title">Send completely！<br><br>Thank you！</h3>
    </div>
  </div>

  <%- include('footer'); %>

</body>
</html>