<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanaka Yoshie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="top.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <script src="header.js" defer></script>
    <script src="top.js" defer></script>
    <script src="diving.js" defer></script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kurenaido&family=Zen+Old+Mincho&display=swap');</style>
    <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-6/css/reset.css">
    <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-6/css/5-6.css">
</head>


<body>
    
    <%- include('header'); %>

    <main>
        <div id="particles-js"></div>
        <div class="top-wrapper">
            <div class="textAnimation">PORTFOLIO</div>
            <div class="textAnimation">YOSHIE TANAKA</div>
        </div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    </main>

    <div class="profile-wrapper">
        <section class="profile-title animationTarget">
            <h2 id="about">About Me</h2>
        </section>

        <section class="profile-main animationTarget">
            <img src="main.jpg" alt="profile">
            <h5>Tanaka | Aomori</h5><br>
        </section>
    </div>

   
    <div class="profile-wrapper">
        <div class="profile-content">
            <section class="profile-title animationTarget">
                <h2 id="history">History</h2>
            </section>

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper animationTarget">

                        <div class="swiper-slide">
                            <h3>サービス業界</h3>
                            <p>高校卒業後、上京。<br>
                                飲食店、アミューズメント施設にて、<br>基本的な社会人マナーや接客態度を学ぶ。<br>
                            </p>
                        </div>

                        <div class="swiper-slide">
                            <h3>人材業界</h3>
                            <p>サービス業で働いていた経験を活かし、<br>求人広告（an）の作成に励む。<br><br>
                                求職者が理想の職場に出会えるよう、<br>
                                その職場の雰囲気だったり、<br>個性が伝わるような原稿制作を心がける。
                            </p>
                        </div>

                        <div class="swiper-slide">
                            <h3>ベンチャー企業</h3>
                            <p>マーケティング部署でのデータ集計や広告集計から始まり、
                                自社転職サイトの運用や、業務効率化などを実施。<br><br>
                                ベンチャーならではのスピード感を感じなら、<br>様々な業務を経験。
                            </p>
                        </div>

                        <div class="swiper-slide">
                            <h3>エンジニアデビュー</h3>
                            <p>プログラミングを勉強&このサイトを作成し、<br>SES企業へ転職。<br><br>
                                現在はAWSエンジニアを目指しており、<br>資格勉強を進めております。<br>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
        </div>
    </div>
   
    <%- include('production'); %>

    <div class="profile-wrapper">
        <div class="profile-content">
            <section class="profile-title animationTarget">
                <h2 id="production">Production</h2>
            </section>

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper animationTarget">

                        <div class="swiper-slide production-item">
                            <a href="#" class="js-modal-open" data-target="modal01">    
                                <h3>PORTFOLIO</h3>
                                <img src="portfolio.png" alt="portfolioの画像">
                            </a>
                        </div>

                        <div class="swiper-slide production-item">
                            <a href="#" class="js-modal-open" data-target="modal02">
                                <h3>HAPPY WORDS</h3>
                                <img src="word1.png" alt="HAPPY WORDSのトップ画像">
                            </a>
                        </div>

                        <div class="swiper-slide production-item">
                            <a href="#" class="js-modal-open" data-target="modal03">
                                <h3>求人バナー作成</h3>
                                <img src="求人ページ.jpg" alt="求人バナー">
                            </a>
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <!-- Swiper JS -->
                <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
            </div>
    </div>

    <%- include('footer'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>

