@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(161, 159, 159);
  z-index: 1;
}