@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
  }

html {
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

body{
    font-family: Allura;
    letter-spacing: 0.05em;
    /* background-color: rgb(23, 25, 46); */
    color: #fff;
    font-size: 50px;
    width:100vw;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}


ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* -------------textAnimation--------------- */
.top-wrapper{
    width: 100%;
    margin: 0 auto;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-shadow: 5px 5px 10px rgba(154, 147, 155);
  }

.textAnimation{
    letter-spacing: 0.01em;
    line-height: 1.4em;
}

.textAnimation:not(:first-of-type) {
  margin-top: 30px;
}

@keyframes showTextFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
  }
}

@keyframes showTextFromTop {
  0% {
    opacity: 0;
      /* 上からふわっと */
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
  }
}

.textAnimation span {
  display: inline-block;
}


/* backwordsを指定するとopacity0がきく 奇数の数のテキストは上からふわっと*/
.textAnimation span:nth-of-type(odd) {
  animation: showTextFromTop 5s backwards;
}

/* 偶数は下からふわっと */
.textAnimation span:nth-of-type(even) {
  animation: showTextFromBottom 5s backwards;
}

 /*========= particle js を描画するエリア設定 ===============*/

#particles-js{
  max-width:100vw;
  margin: 0 auto;
	position: fixed;
	z-index: -1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
  /* overflow: hidden; */
  background-color:#FEE7E7;
}


/* -----------------profile--------------- */

.profile-wrapper {
  width: 70%;
  margin: 0 auto;
}

.profile-title.show,
.profile-main.show,
.swiper-wrapper.show {
  transform: none;
  opacity: 1;
}

#about,
#history,
#production {
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}

.profile-title {
  text-align: center;
  font-size: 1.2em;
  margin: 100px auto;
  text-shadow: 5px 5px 5px rgba(154, 147, 155);
  opacity: 0;
  transition: 1s;
  transform: translateX(50px);
}

.profile-main {
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 1s;
  transform: translateX(-50px);
}

.profile-main img {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 50px;
  box-shadow: 0 0 30px rgb(243, 243, 247);
}

.profile-main h5 {
  font-size: 0.5em;
  line-height: 30px;
  text-shadow: 5px 5px 5px rgba(154, 147, 155);
}

.profile-content {
  margin: 100px auto;
}

.profile-title h2 {
  font-size: 1.3em;
  opacity: .8;
  text-shadow: 5px 5px 5px rgba(154, 147, 155);
  display: inline-block;
}


/* ------------swiper------------ */

.swiper {
  max-width: 700px;
  height: 350px;
  margin: 20px ;
}

.swiper-wrapper {
  transition: 3s;
  opacity: 0;
}

.swiper-slide {
  max-width: 350px;
  max-height: 350px;
  background-image: url('snow.png');
  background-position: 40% 50%;
  background-size: 150%;
  border-radius: 40%;
  color: rgb(77, 75, 75);
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide h3,
.js-modal-open h3 {
  display: inline-block;
  color: rgb(77, 75, 75);
  border-bottom: 1px solid rgb(129, 128, 128);
  padding-bottom: 5px;
  text-shadow: 1px 1px 2px rgb(155, 151, 151);
  font-size: 0.5em;
  padding-top: 100px;
}

.swiper-slide p {
  padding: 10px 40px 40px 40px;
  font-size: 0.25em;
  text-align: center;
  line-height: 1.5em;
}


/* ------------production-------------- */

.production-item {
  text-align: center;
}

.production-item img{
  padding: 20px 20px;
  width: 70%;
  max-height: 130px;
  object-fit: cover;
  border-radius: 50px;
  opacity: .8;
}



/* -----------------modal-------------- */

.modal{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;

}

.modal__bg{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
}

.modal__content{
  background: #fff;
  color: #333;
  border-radius: 20px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
}

.modal__title {
  text-align: left;
}

.modal__title a {
  display: inline-block;
  padding: 5px 0;
  color: rgb(77, 75, 75);

}

.modal__title h4 {
  margin: 10px 0;
  display: block;
  font-size: .8em;
  border-bottom: 1px solid rgb(129, 128, 128);
}

.modal__title,
.model-about,
.model-tools,
.image {
  padding: 5px 0;
}

.modal__content h5 {
  display: inline-block;
  padding: 5px 0;
  font-size: 0.5em;
  border-bottom: 1px solid rgb(129, 128, 128);
}

.modal__content p {
 line-height: 1.5em;
  font-size: 0.4em;
  padding: 5px 0;
}

.image {
  display: flex;
  flex-wrap: wrap;
}


.image img {
  margin: 3px;
  border-radius: 10px;
  width: 45%;
  display: inline-block;
  max-width: 100px;
  max-height: 80px;
  box-shadow: 0px 0px 15px -4px #777777;

}

#modal03 .image img{
  width: 200%;
  height: 200%;
  max-width: 600px;
  max-height: 400px;
}

/* ーーーー　✖️ボタン　ーーーー */
.close-butttom{
  position: absolute;
  top:30px;
  right: 30px;
  color: rgb(78, 77, 77);
  font-size: 0.8em;
}