<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanaka Yoshie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../css/top.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="../app.js/top.js" defer></script>
</head>
<body>

    <main>  
        <script src="../app.js/header.js"></script>

        <div id="particles-js"></div>
        <div class="wrapper">
            <div class="textAnimation">PORTFOLIO</div>
            <div class="textAnimation">YOSHIE TANAKA</div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    </main>

</body>
</html>